@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

/* Optional: base colors biar class seperti bg-background/text-foreground aman */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
  }

  body {
    @apply bg-white text-black;
  }
}
